[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Felix-neko
[access "refs/for/refs/*"]
	read = group user/Felix-neko
	push = group user/Felix-neko
	label-Code-Review = -2..+2 group user/Felix-neko
	label-Verified = -1..+1 group user/Felix-neko
	rebase = group user/Felix-neko
	removeReviewer = group user/Felix-neko
	submit = group user/Felix-neko
[access "refs/heads/*"]
	read = group user/Felix-neko
	create = group user/Felix-neko
	push = +force group user/Felix-neko
	pushMerge = group user/Felix-neko
[access "refs/tags/*"]
	push = +force group user/Felix-neko
	pushTag = group user/Felix-neko
	pushSignedTag = group user/Felix-neko
